<h1 id="title">
  Rules Reference
</h1>


<div class="container">
  <div class="row">
    <div class="col-md-3 text-center"><strong>Rule</strong></div>
    <div class="col-md-6 text-center"><strong>Description</strong></div>
    <div class="col-md-3 text-center"><strong>Reference</strong></div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let rule of rules">
      <div class="row" [style.cursor]="'pointer'" (click)="goToEdit(rule.id)">
        <div class="col-md-3 "><strong>{{ rule.name }}</strong></div>
        <div class="col-md-6">{{ rule.description }}</div>
        <div class="col-md-3"><em>{{ rule.reference }}</em></div>
      </div>
    </li>
  </ul>
  <button class="btn btn-primary btn-block" (click)="goToAdd()">Add Rule</button>
</div>
