<h1>
  Factions
</h1>


<button class="btn btn-primary btn-block" (click)="goToAdd()">Add Faction</button>


<div class="row header-row">
    <div class="col-md-6">
        <strong>Faction</strong>
    </div>
    <div class="col-md-6">
        <strong>Classification</strong>
    </div>
</div>


<ul class="list-group">
  <li *ngFor="let faction of factions" class="list-group-item faction-item" (click)="goToEdit(faction.id)">
      <div class="col-mid-3">
        <div>{{faction.name}}</div>
        <img src="{{faction.codex}}" class="codex">
        <div>{{faction.classification}}</div>
      </div>
  </li>
</ul>
