.btn-group-wrap {
    text-align: center;
}

.display-wrapper {
    margin: 15px 0 25px 0;
    border: 10px solid black;
    padding: 25px;
    background: lightgray;
}

#defaultPage {
    text-align: center;
    font-size: 2em;
}